export GOOGLE_PROJECT="${DEVSHELL_PROJECT_ID}"
export GOOGLE_REGION="us-east1"
export GOOGLE_ZONE="us-east1-c"
export GCP_ACCOUNT_NAME="$(gcloud auth list --format json|jq -r '.[].account')"
export GCP_PROJECT="$GOOGLE_PROJECT"
export SERVICE_ACCOUNT_NAME=${SERVICE_ACCOUNT_NAME:-s1pbosh}

## bbl
export BBL_IAAS="gcp"
export BBL_GCP_REGION="us-east1"
export BBL_STATE_DIRECTORY=~/s1p-bosh-lab/setup-bosh-environment
export BBL_GCP_SERVICE_ACCOUNT_KEY=$BBL_STATE_DIRECTORY/$SERVICE_ACCOUNT_NAME.key.json

pushd $BBL_STATE_DIRECTORY
  if [ -f bbl-state.json ]; then
    eval "$(bbl print-env)"
  fi
popd
